# Packages

In [84]:
import pandas as pd
import requests
import bs4
#from nameparser import HumanName

# Scraping

In [85]:
base_url_individuals = 'https://insightcrime.org/criminal-actors/page/{}/?filter=personalities&country=0&orderby'
pages_individuals = 8

base_url_groups = 'https://insightcrime.org/criminal-actors/page/{}/?filter=armed_groups&country=0&orderby'
pages_groups = 9

In [86]:
individuals_list = []
groups_list = []

In [87]:
for page in range(1,pages_groups+1):
    
    url = base_url_groups.format(page)
    res = requests.get(url)
    soup = bs4.BeautifulSoup(res.text,'lxml')
    
    boxes = soup.select('.page-general__news-list-criminals .box h2 a')
    page_list = [box.get_text(strip=True) for box in boxes]
    groups_list += page_list

In [88]:
for page in range(1,pages_individuals+1):
    
    url = base_url_individuals.format(page)
    res = requests.get(url)
    soup = bs4.BeautifulSoup(res.text,'lxml')
    
    boxes = soup.select('.page-general__news-list-criminals .box h2 a')
    page_list = [box.get_text(strip=True) for box in boxes]
    individuals_list += page_list

# Name cleaning

In [89]:
groups_list

['Central General Staff - Ex-FARC Mafia',
 'Acacio Medina Front - Ex-FARC Mafia',
 'Las Claritas Sindicato',
 'Carlos Capa Gang',
 'The R Organization',
 'Tren de Guayana',
 'Lobos',
 '10th Front - Ex-FARC Mafia',
 'Pachenca',
 'Bala na Cara',
 'Border Command',
 'Lagartos',
 'Cárteles Unidos',
 'Shining Path',
 'Sinaloa Cartel',
 'Bagdad',
 'Libertadores del Vichada',
 'EPL',
 'Choneros',
 'Escritório do Crime',
 'Border Security Colectivo',
 'Cartel of the Suns',
 'The Meleán',
 'Fuerza Anti-Unión',
 'La Unión Tepito',
 'Rotela Clan',
 'Second Marquetalia',
 'Chapitos',
 'Tren de Aragua',
 'Family of the North - FDN',
 'Ex-FARC Mafia',
 'Ex-FARC Mafia',
 'Monos',
 'Caparros',
 'Jalisco Cartel New Generation (CJNG)',
 'Amigos dos Amigos',
 '1st Front (Ex-FARC Mafia)',
 'Knights Templar',
 'Cartel of the Suns',
 'Juarez Cartel',
 'Tijuana Cartel',
 'Gulf Cartel',
 'Sinaloa Cartel',
 'Familia Michoacana',
 'Cachiros',
 'Perrones Cartel',
 'Barrio 18',
 'Texis Cartel',
 'MS13',
 'FARC',
 'Rastrojos',
 'ELN',
 'AUC',
 'Urabeños',
 'Norte del Valle Cartel',
 'Red Command',
 'First Capital Command - PCC',
 'Shining Path',
 'Tren del Llano',
 'FARC 57th Front in Panama',
 'Atlantic Cartel',
 'Calor Calor',
 'Jalisco Cartel New Generation (CJNG)',
 'Guerreros Unidos',
 'Pure Third Command',
 'Valles',
 'Tijuana Cartel',
 'Beltrán Leyva Organization',
 'EPR',
 'Knights Templar',
 'Juárez Cartel',
 'FARC',
 'First Capital Command - PCC',
 'Red Command',
 'Gaitanistas - Gulf Clan',
 'Barrio Azteca',
 'FBL/FPLN',
 'BACRIM in Venezuela',
 'ELN in Venezuela',
 'Ex-FARC Mafia in Venezuela',
 'Tarzanes',
 'Reñazcos',
 'Zetas',
 'Zetas',
 'Texis Cartel',
 'Perrones',
 'Barrio 18',
 'MS13',
 'Autodefensas Unidas de Colombia - AUC',
 'Mendozas',
 'Leones',
 'Lorenzanas',
 'Águilas Negras',
 'ELN',
 'Paisas',
 'Familia Michoacana',
 'Oficina de Envigado',
 'CIACS',
 'ERPAC']

## Individuals

In [90]:
individuals_list = [name.split(',') for name in individuals_list]
individuals_list = [[sublist[0], sublist[1].replace(' alias ', '').replace("'",'').replace('‘', '').replace('’', ''), sublist[2].replace(' or the ','').replace("'",'')] if len(sublist) == 3 
              else [sublist[0], sublist[1].replace(' alias ', '').replace("'",'').replace('‘', '').replace('’', ''), ''] if len(sublist) == 2
              else [sublist[0], '', '']
              for sublist in individuals_list]

In [91]:
df_individuals = pd.DataFrame(individuals_list).rename(columns={0:'name',1:'alias_1',2:'alias_2'})

In [92]:
def get_first_name(name):
    if len(name.split())==4:
        first_name = name.split()[0] + ' ' + name.split()[1]
    else:
        first_name = name.split()[0]
    return first_name

def get_last_name(name):
    if len(name.split())<=2:
        last_name = name.split()[-1]
    else:
        last_name = name.split()[-2] + ' ' + name.split()[-1]
    return last_name

In [93]:
df_individuals['first_name'] = df_individuals['name'].apply(get_first_name)
df_individuals['family_name'] = df_individuals['name'].apply(get_last_name)

We necessarily need to complement with visual inspection and make some corrections:

In [94]:
dict_corr = {'César Emilio Peralta':['César Emilio','Peralta'],
             'Jobanis de Jesús Ávila Villadiego':['Jobanis de Jesús','Ávila Villadiego'],
             'Leider Johani Noscue':['Leider Johani','Noscue'],
             'Walter Patricio Arizala':['Walter Patricio','Arizala'],
             'Diego Fernando Murillo':['Diego Fernando','Murillo'],
             'Henry de Jesús López':['Henry de Jesús','López'],
             'Horst Walther Overdick':['Horst Walther','Overdick'],
             'Dairo Antonio Úsuga':['Dairo Antonio','Úsuga'],
             'Juan de Dios Úsuga':['Juan de Dios','Úsuga'],
             'Miguel Angel Treviño':['Miguel Angel','Treviño'],
             'Juan Orlando Hernández':['Juan Orlando','Hernández'],
             'Ariel Máximo Cantero':['Ariel Máximo','Cantero'],
             'Pedro Oliverio Guerrero':['Pedro Oliverio','Guerrero']}

In [95]:
for name, corrections in dict_corr.items():
    df_individuals.loc[df_individuals.name==name,'first_name'] = corrections[0]
    df_individuals.loc[df_individuals.name==name,'family_name'] = corrections[1]

# Data export

In [97]:
df_individuals

,name,alias_1,alias_2,first_name,family_name
0,Héctor Rusthenford Guerrero Flores,Niño Guerrero,,Héctor Rusthenford,Guerrero Flores
1,Hermágoras González Polanco,Gordito González,,Hermágoras,González Polanco
2,Yeico Masacre,,,Yeico,Masacre
3,Genaro García Luna,,,Genaro,García Luna
4,Gilberto Rodríguez Orejuela,The Chess Player,,Gilberto,Rodríguez Orejuela
...,...,...,...,...,...
88,Diego Perez Henao,Diego Rastrojo,,Diego,Perez Henao
89,Luis E. Calle Serna,,,Luis E.,Calle Serna
90,Rastrojos,,,Rastrojos,Rastrojos
91,Javier Antonio Calle Serna,Comba,,Javier Antonio,Calle Serna
92,Guillermo Leon Saenz Vargas,Alfonso Cano,,Guillermo Leon,Saenz Vargas

In [101]:
df1 = pd.DataFrame(groups_list).rename(columns={0:'name'})
df1['type'] = 'group'

df2 = df_individuals[['name','first_name','family_name','alias_1','alias_2']]
df2['type'] = 'individual'

df = pd.concat([df1, df2], axis=0, ignore_index=True)

,name,type,first_name,family_name,alias_1,alias_2
0,Central General Staff - Ex-FARC Mafia,group,NaN,NaN,NaN,NaN
1,Acacio Medina Front - Ex-FARC Mafia,group,NaN,NaN,NaN,NaN
2,Las Claritas Sindicato,group,NaN,NaN,NaN,NaN
3,Carlos Capa Gang,group,NaN,NaN,NaN,NaN
4,The R Organization,group,NaN,NaN,NaN,NaN
5,Tren de Guayana,group,NaN,NaN,NaN,NaN
6,Lobos,group,NaN,NaN,NaN,NaN
7,10th Front - Ex-FARC Mafia,group,NaN,NaN,NaN,NaN
8,Pachenca,group,NaN,NaN,NaN,NaN
9,Bala na Cara,group,NaN,NaN,NaN,NaN
10,Border Command,group,NaN,NaN,NaN,NaN
11,Lagartos,group,NaN,NaN,NaN,NaN
12,Cárteles Unidos,group,NaN,NaN,NaN,NaN
13,Shining Path,group,NaN,NaN,NaN,NaN
14,Sinaloa Cartel,group,NaN,NaN,NaN,NaN
15,Bagdad,group,NaN,NaN,NaN,NaN
16,Libertadores del Vichada,group,NaN,NaN,NaN,NaN
17,EPL,group,NaN,NaN,NaN,NaN
18,Choneros,group,NaN,NaN,NaN,NaN
19,Escritório do Crime,group,NaN,NaN,NaN,NaN
20,Border Security Colectivo,group,NaN,NaN,NaN,NaN
21,Cartel of the Suns,group,NaN,NaN,NaN,NaN
22,The Meleán,group,NaN,NaN,NaN,NaN
23,Fuerza Anti-Unión,group,NaN,NaN,NaN,NaN
24,La Unión Tepito,group,NaN,NaN,NaN,NaN
25,Rotela Clan,group,NaN,NaN,NaN,NaN
26,Second Marquetalia,group,NaN,NaN,NaN,NaN
27,Chapitos,group,NaN,NaN,NaN,NaN
28,Tren de Aragua,group,NaN,NaN,NaN,NaN
29,Family of the North - FDN,group,NaN,NaN,NaN,NaN

In [ ]:
df.to_csv('_aux/List of criminal individuals and organizations.csv',index=False)